.clear {
	clear: both;
}
body {
	margin: 0px;
}
.wrapper {
	width: 98%;
	margin-right: 2px;
	padding-right: 1px;
}
.banner {
	height: 250px;
	width: 99%;
	background-color: #FFF;
}
.mainMenu {
	height: 40px;
	width: 99%;
	color: #FFF;
	background-color: #FFF;
	margin-top: 5px;
	padding-left: 2px;
	border: 2px solid #FFF;
	position: sticky;
	top: 0;
	overflow:hidden;
   
}
.recentPost {
	height: 260px;
	width: 990px;

}
.contentWrapper {
	width: 100%;
	margin-top: 5px;

}
.verticalMenu {
	float: left;
	width: 15%;
	position: fixed;	
	
}
.content {
	float: left;
	margin-top: 10px;
	width: 70%;
	margin-left: 16%;
}

.siteRight {
	background-color: #630;
	float: left;
	width: 150px;
}

.footer{
	height: 50px;
	width: 100%;
	display: block;
	color: #847964;
	text-decoration: none;
	background-image: url(img/p7mbm_chocolate.jpg);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	font-weight: bold;
	text-align: center;
	border-right: 1px solid #1A1713;
	background-color: #27241C;
	padding: 10px;
	border-top: 1px solid #6A604D;
	border-bottom: 1px solid #1A1713;
	border-left: 1px solid #6A604D;
	margin-top:30px;
}
.myImage{
	width: 65%;
	text-align: center;
	clear: both;
	border: thick solid #000;
	display: block;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.imageComment{
	font-style:italic;
	text-align:center;
	color:#06F;
	margin-left:auto;
	margin-right:auto;
	display:block;	
}
.youtube {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
h2 {
	line-height: normal;
	margin-top: 30px;
}
.tittle{
	font-size:25px;
	font-weight:bold;
	text-decoration:none;
	display: block;
	border:solid 1px #FFCC33;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;	
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	font-family: comic;
	font-weight:bold;
	color: tomato;
	text-shadow:1px 1px 1px black;
	background-color: #9F6;
	padding:10px;
	padding-left:10px;
	padding-right:10px;
	margin-top:10px;
}
.youtube_frame{
	margin-top:10px;
	margin-bottom:50px;
	width:818px;
	height:460px;
	margin-left:auto;
	margin-right:auto;
	
	display:block;
	-webkit-border-bottom-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-bottom-left-radius:20px;
	-moz-border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-top-right-radius:20px;
}

.wc-tittle{
	font-size:40px;
	margin-bottom:20px;
	font-family: "consolas";
	font-weight: bold;
	color: tomato;
	text-shadow: 1px 1px 2px grey;
	
}

.wc-group{
	display: block;
	height: 150px;
	width: 150px;
	border:solid 1px #FFCC33;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	float: left;		
	margin:35px;
	text-align:center;
	font-family: comic;
	font-weight:bold;
	color: tomato;
	text-shadow:1px 1px 2px grey;
	background-color: #9F6;
	padding-top: 15px;
	
}
.wc-group a{
	text-decoration:none;
	color: tomato;
}
.wc-group a:visited{
	text-decoration:none;
	color: tomato;
}
.wc-group:hover{
	text-decoration:none;
	color: red;
	height: 160px;
	width: 160px;
	margin-right:25px;
	margin-bottom:25px;
}
.group-ico{
	height: 100%;
	margin-left:auto;
	margin-right:auto;	
	display: block;
	margin-bottom: 10px;
	border-radius: 10px;
}

.box{

}
.box a{
	text-decoration:none;
	display: block;
	border:solid 1px #FFCC33;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;	
	margin:35px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-family: comic;
	font-weight:bold;
	color: tomato;
	text-shadow:1px 1px 1px black;
	background-color: #9F6;
	padding:10px;
	padding-left:10px;
	padding-right:10px;
}
.box a:visited{
	text-decoration:none;
}
.box a:hover{
	text-decoration:none;
	color: red;
}