@charset "utf-8";
/* CSS Document */
body
{
	font-family:consolas;
	background: linear-gradient(to bottom right, #56ab2f,#a8e063);
	/*
	#434343 → #000000
	#56ab2f → #a8e063
 
	*/
}
.tittle
{
	font-family:Consolas;
	font-weight:bold;
	color:tomato;
	font-size:300%;
	line-height:10px;
	text-shadow: 2px 2px black;
	float:left;
	
	margin-left:5px;
	margin-top:20px;
	margin-bottom:25px;
}

.sologan
{
	color:white;
	font-weight:bold;
	font-size:120%;
	float:left;
	margin-top:20px;
	margin-left:10px;
}

.linkStyle a
{
	font-weight:bold;
	font-size:120%;
	line-height:10px;
	color:white;
	text-decoration:none;
	text-shadow: 0.5px 1px;
}
.linkStyle a:visited
{
	font-weight:bold;
	font-size:120%;
	line-height:10px;
	color:white;
	text-decoration:none;
	text-shadow: 0.5px 1px;
}

.linkStyle a:hover
{
	font-weight:bold;
	font-size:130%;
	line-height:10px;
	color:white;
	text-decoration:none;
text-shadow: 0.5px 1px;
}

.clear{
	clear:both;
}
	
/*menu design*/
.menu_form{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu_item {
    float: left;
}

.menu_item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
	font-size:20px;
	font-weight:bold;
}

.menu_item a:hover {
    background-color: #111;
}
.active {
    background-color:orange;
}