:root {
	--wc-primColor: #D30208;

	--wc-high0: #e5c685;
	--wc-high1: #F5EED5;

	--wc-low0: #015386;
	--wc-low1: #0074B1;

	--wc-text0: #F5EED5;
	--wc-text1: #171714;

	--wc-trans: 0.25s;
}

@font-face {
	font-family: "Dusha";
	src: url("/worldcup2018/font/Dusha\ -\ FIFA\ World\ Cup\ 2018\ Viethoa\ by\ TranHuuDuc.ttf") format('truetype');
}

.wcFont {
	font-family: "Dusha";
}