@import "./wcVar.less";

.wc-match-panel {
	position: relative;
	width: 300px;
	margin: 1rem auto;

	text-decoration: none;
	color: inherit;

	font-family: sans-serif;
	transition: var(--wc-trans);
	transform-origin: 50% 50%;

	&:hover {
		transform: scale(1.1);
		box-shadow: 0px 6px 20px -3px rgba(0,0,0,0.5);
		z-index: 99999;
		cursor: pointer;
	}

	.wc-match-info {
		background-color: var(--wc-high0);
		padding: 0.25em 1rem;
	}

	.wc-match-date, .wc-match-time {
		background-color: var(--wc-high1);
		color: var(--wc-text1);
		text-align: center;
		padding: 0.25rem;
	}

	.wc-match-score {
		display: table;
		text-align: center;

		margin: 0;
		width: 100%;
		background-color: white;
	}
	.wc-match-name {
		display: table-cell;
		width: 125px;

		text-align: center;
		text-decoration: none;
		list-style: none;
	}
	.wc-match-win {
		font-weight: bold;
	}
	.wc-match-goals {
		display: table-cell;
		padding: 0.25rem;
		border-bottom: 2px solid var(--wc-low1);
	}

	

	&.now {
		.wc-match-info {
			background-color: var(--wc-low0);
			color: var(--wc-text0);
		}
		.wc-match-date, .wc-match-time {
			background-color: var(--wc-low1);
			color: var(--wc-text0);
		}
	}

	&.past {
		filter: brightness(0.8);
		display: none;
	}
}

.wc-match-row {
	display: table;
	table-layout: fixed;
	width: 100%;
	background-color: var(--wc-high1);
	transition: var(--wc-trans);

	&:hover {
		box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.5);
		transform: translateY(-3px);
		background-color: var(--wc-high0);
	}
	
	&.now {
		.wc-match-date {
			background: var(--wc-low1);
			background: linear-gradient(to right, fade(@low1 , 100%), fade(@low1, 0%));
			color: var(--wc-text0);
		}
	}

	.wc-match {
		&-date, &-time {
			padding: 0.5rem;
		}

		&-team {
			padding: 0.5rem;
			text-align: center;

			&:first-child {
				text-align: right;
			}
			&:last-child {
				text-align: left;
			}

			&.win {
				font-weight: bold;
				background-color: var(--wc-high0);
			}
		}
		&-goals {
			padding: 0.5rem 0;
			width: 30px;
			text-align: center;

			&.win {
				font-weight: bold;
			}
		}
	}
}